
h1,h2{

    font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;}

p, ul {
    font-family: 'Open Sans', sans-serif;
    letter-spacing:0.5px;
}
.tutorial{
    font-size: 12px;
}

span{
    font-family: papyrus;
}

a{
    color: #0000cc;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h2 {
    font-variant: small-caps;
}

html{
    background: url(images/Leafy.jpg) no-repeat center fixed;
    background-size: cover;
}
 

.css {
    border: 2px solid #264DE4;
    box-shadow: 2px 2px #264DE4;
}

.JS{
     border:2px solid #F7DF1E;
     box-shadow: 2px 2px #F7DF1E; 
}

.html{
     border: 2px solid black;
     box-shadow: 2px 2px black;
}
div{
    border-radius: 25px;
    width: 600px;
    margin: 50px auto;
    padding: 40px 75px;
    background-color: white;
}


h1{
     color: white;
     text-align: center;
     letter-spacing:2px;
     font-size: 45px; 
     text-shadow: 2px 2px black;
}

img{
    width: 30px;
    height: 30px;
    vertical-align:middle;
}

